#mainContent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 90px auto 0px;
}

#TextContent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#TextContent img {
    width: 40%;
}

h2 {
    color: white;
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    margin: 5px;
}

#name-text-content {
    font-size: 55px;
    color: #2F72BC;
    text-align: center;
    font-weight: 800;
    margin: 5px;
}

#salutation {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: start;
}

#contactsContent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 50px auto;
}

#contactsContent h2 {
    color: white;
    font-size: 22px;
    font-weight: normal;
}

#contactsContent span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50%;
}

#contactsContent span button {
    background-color: #121214;
    border: solid 2px white;
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
}

#contactsContent span button:hover {
    background-color: #2F72BC;
    border: solid 2px #2F72BC;
}