#previwProjectsContainer {
    margin: 90px auto;
    width: 80%;
}

#previwProjectsCabecalho {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#previwProjectsCabecalho h1{
    color: white;
    font-size: 20px;
}

#rowImg {
    width: 580px;
    height: 12px;
}